<%- include('./partials/head.ejs') %>
<%- include('./partials/nav.ejs') %>
<%-include('./partials/messageField.ejs') %>

<h2>Welcome <%= user.username %>!</h2>

<form class="createQuote" action="" method="POST">
    <label for="newQuote">Your new quote:</label>
    <textarea name="newQuote" placeholder="Input field for new quotes"></textarea>

    <label for="quoteOrigin">Origin of quote:</label>
    <input type="text" name="quoteOrigin">

    <button type="submit">PUBLISH</button>
</form>

<% if(quotes.length > 0) { %>
    <% quotes.forEach(quote => { %>
        <%- include('./partials/mainQuote.ejs', { quote }); %>
    <% }) %>
<% } else { %>
    <p>You have not published any quotes yet!</p>
<% } %>

<form class="deleteAccount" action="/delete-account" method="POST">
    <label for="">Delete my account:</label>
    <button type="submit">Delete</button>
</form>


<%- include('./partials/foot.ejs') %>
