<%- include('./partials/head.ejs') %>
<%- include('./partials/nav.ejs') %>

<div class="homeError">
    <%-include('./partials/messageField.ejs') %>
</div>


<div class="homeWelcome">
    <h2>Welcome <%= user.username %>!</h2>
</div>

<form class="createQuote" action="" method="POST">
    <input type="hidden" name="quoteId" id="quoteId">
    <div class="inputs">
        <label for="newQuote">Your new quote:</label>
        <textarea name="newQuote" placeholder="Input field for new quotes" id="newQuoteTextarea"></textarea>

        <label for="quoteOrigin">Origin of quote:</label>
        <input type="text" name="quoteOrigin" id="quoteOriginInput">        
    </div>

    <button type="submit" id="publishButton">PUBLISH</button>

    <div class="faqLink">
        <a href="/faq">FAQ: Updating Quotes</a>
    </div>
</form>

<div class="homeWelcome yourQuotes">
    <h2>Your quotes:</h2>
</div>

<div class="quotes">
    <% if(quotes.length > 0) { %>
        <% quotes.forEach(quote => { %>
            <div class="quoteView">
                <%- include('./partials/mainQuote.ejs', { quote }); %>
                <div class="quoteEdit">
                    <button class="editBtn singleButton" data-quote-id="<%= quote._id %>" data-quote-text="<%= quote.quote %>" data-quote-origin="<%= quote.quoteOrigin %>">
                        Edit
                    </button>
                    <form class="singleButton" action="/delete-quote" method="POST">
                        <input type="hidden" name="quoteId" value="<%= quote._id %>">
                        <button type="submit" class="deleteBtn">
                            Delete
                        </button>
                    </form>
                </div>
            </div>
        <% }) %>
    <% } else { %>
        <p>You have not published any quotes yet!</p>
    <% } %>    
</div>


<form class="singleButton" action="/delete-account" method="POST">
    <label for="">Delete my account:</label>
    <button type="submit">Delete</button>
</form>

<%- include('./partials/foot.ejs') %>
